In [16]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("BostonHousing.csv")
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = df.drop(columns=['medv'])
y = df['medv']
cols = X.columns

scaler = StandardScaler()
X = scaler.fit_transform(X)
X = pd.DataFrame(X,columns=cols)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

print('X_train:',X_train.shape)
print('y_train:',y_train.shape)
print('X_test:',X_test.shape)
print('y_test:',y_test.shape)

X_train: (404, 13)
y_train: (404,)
X_test: (102, 13)
y_test: (102,)

In [70]:
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential

module = Sequential()
module.add(layers.Dense(32,activation = "sigmoid",input_shape = (X_train.shape[1],)))
module.add(layers.Dense(1,activation = 'linear'))
module.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 32)                448

 dense_6 (Dense)             (None, 1)                 33

=================================================================
Total params: 481 (1.88 KB)
Trainable params: 481 (1.88 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [71]:
module.compile(optimizer='sgd',loss='mean_squared_error')
module.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=20)

Epoch 1/20
13/13 [==============================] - 1s 15ms/step - loss: 178.4753 - val_loss: 54.3366
Epoch 2/20
13/13 [==============================] - 0s 4ms/step - loss: 36.6691 - val_loss: 36.1213
Epoch 3/20
13/13 [==============================] - 0s 4ms/step - loss: 29.6967 - val_loss: 30.3787
Epoch 4/20
13/13 [==============================] - 0s 4ms/step - loss: 26.8872 - val_loss: 29.7298
Epoch 5/20
13/13 [==============================] - 0s 4ms/step - loss: 25.6191 - val_loss: 28.0993
Epoch 6/20
13/13 [==============================] - 0s 4ms/step - loss: 24.7992 - val_loss: 26.8179
Epoch 7/20
13/13 [==============================] - 0s 5ms/step - loss: 24.0985 - val_loss: 25.4512
Epoch 8/20
13/13 [==============================] - 0s 4ms/step - loss: 23.5547 - val_loss: 24.1101
Epoch 9/20
13/13 [==============================] - 0s 5ms/step - loss: 23.0430 - val_loss: 25.7316
Epoch 10/20
13/13 [==============================] - 0s 5ms/step - loss: 22.9625 - val_loss: 25.0631
Epoch 11/20
13/13 [==============================] - 0s 4ms/step - loss: 22.3922 - val_loss: 23.4689
Epoch 12/20
13/13 [==============================] - 0s 5ms/step - loss: 22.0223 - val_loss: 23.5543
Epoch 13/20
13/13 [==============================] - 0s 4ms/step - loss: 21.7150 - val_loss: 25.4914
Epoch 14/20
13/13 [==============================] - 0s 5ms/step - loss: 21.4969 - val_loss: 22.5478
Epoch 15/20
13/13 [==============================] - 0s 4ms/step - loss: 21.3053 - val_loss: 22.6082
Epoch 16/20
13/13 [==============================] - 0s 4ms/step - loss: 20.8787 - val_loss: 21.9302
Epoch 17/20
13/13 [==============================] - 0s 5ms/step - loss: 20.6801 - val_loss: 20.8302
Epoch 18/20
13/13 [==============================] - 0s 4ms/step - loss: 20.4398 - val_loss: 21.6794
Epoch 19/20
13/13 [==============================] - 0s 4ms/step - loss: 20.1484 - val_loss: 20.4559
Epoch 20/20
13/13 [==============================] - 0s 5ms/step - loss: 19.9639 - val_loss: 21.6400

In [73]:
preds = module.predict(X_test).reshape(-1)

print(preds.shape)
print(preds)

4/4 [==============================] - 0s 1ms/step
(102,)
[21.90187   15.039299  23.915287  38.94068   13.344091  20.281858
 40.973076  23.897346  17.201197  21.711256  26.516407  22.90587
 19.850485   8.209753  37.765945  24.699053  33.963764  20.894125
 36.220978  38.93475   15.503431  16.701323  28.516924  27.960089
 39.935852  23.939877  15.449373  12.87311   25.711489  29.356577
 29.105162  26.998955  30.393759  25.017057  10.205111  19.428349
 18.586935  29.166513  20.85986   24.984207  29.125525  17.539572
 20.655851  22.31478   12.536608  33.08758    5.7056923 18.48994
 29.627748  20.04362   20.777597  21.249012  20.594473  33.217438
 18.784027  27.245312  19.505484  20.026226  24.79299   37.330204
 12.81175   38.609787  20.75384   24.879454  19.139925  22.066141
 34.829525  22.052942  33.8122    18.221079  37.942207  15.71311
  8.504049  20.944384  17.860361  21.041555  15.319834  24.163435
 33.015785  38.685852  30.770456  33.33141   33.758244  16.61999
 20.478148  24.155874  36.073875  10.814526   8.045383  26.043678
 19.952766  29.958961  15.753889  17.769289  23.481455  14.524738
 35.554367  21.724087  24.010422  24.037468  20.920666  17.34776  ]

In [74]:
df1 = pd.DataFrame()
df1["actual"] = y_test.values
df1["preds"]  = preds
df1

     actual      preds
0      20.6  21.901871
1      13.3  15.039299
2      24.7  23.915287
3      46.0  38.940681
4      13.9  13.344091
..      ...        ...
97     16.1  21.724087
98     23.4  24.010422
99     17.8  24.037468
100    22.5  20.920666
101    19.6  17.347759

[102 rows x 2 columns]